*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

:root {
  --clr-primary-100: hsl(254, 88%, 90%);
  --clr-primary-500: hsl(256, 67%, 59%);
  --clr-secondary-100: hsl(31, 66%, 93%);
  --clr-secondary-500: hsl(39, 100%, 71%);
  --clr-black: hsl(0, 0%, 7%);
  --clr-white: hsl(0, 0%, 100%);

  --p-fs-500: 1.125rem;
  --m-fs: 1 rem;
  --d-fs: 1.125rem;

  --fw-400: 400;
  --fw-500: 500;
  --ff: "DM Sans", "sans serif";
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0.5rem;
  font-family: var(--ff);
}

img {
  max-width: 100%;
  display: block;
}

.bento-item {
  display: flex;
  flex-flow: column;
  max-width: 375px;
  width: 90%;
}

.bento-center {
  justify-content: center;
  align-items: center;

}

/* bento item 1 */
.bento-item-1 {
  background-color: var(--clr-primary-500);
}

.bento-item-1 h1 {
  color: var(--clr-white);
}

/* bento item 2 */
.bento-item-2 {
  background-color: var(--clr-white);
}

/* bento item 3 */
.bento-item-3 {
  background-color: var(--clr-secondary-500);
}

/* bento item 4 */
.bento-item-4 {
  background-color: var(--clr-primary-100);
}

/* bento item 5 */
.bento-item-5 {
  background-color: var(--clr-primary-500);
}

/* bento item 6 */
.bento-item-6 {
  background-color: var(--clr-white);
}

/* bento item 7 */
.bento-item-7 {
  background-color: var(--clr-secondary-100);
  padding-left: 2rem;
  padding-right: 2rem;
}




/* bento item 8 */
.bento-item-8 {
  background-color: var(--clr-secondary-500);
  padding: 1rem;
}

.bento-item-8 img {
  width: 75%;
}
