*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

:root {
  --clr-primary-100: hsl(254, 88%, 90%);
  --clr-primary-500: hsl(256, 67%, 59%);
  --clr-secondary-100: hsl(31, 66%, 93%);
  --clr-secondary-500: hsl(39, 100%, 71%);
  --clr-black: hsl(0, 0%, 7%);
  --clr-white: hsl(0, 0%, 100%);

  --xlg: 4rem;
  --lg: 2.75rem;
  --med: 2.35rem;
  --sm: 1.5rem;

  /* mobile */
  --m-xlg: 2rem;
  --m-lg: 1.6rem;
  --m-med: 1.3rem;
  --m-sm: 1rem;

  --fw-400: 400;
  --fw-500: 500;
  --ff: "DM Sans", "sans serif";
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: var(--ff);
  background-color: hsl(0, 0%, 95%);
}

img {
  max-width: 100%;
  display: block;
}

/* Typography */

.xlg-text {
  font-size: var(--m-xlg);
  font-weight: var(--fw-500);
}

.lg-text {
  font-size: var(--m-lg);
  font-weight: var(--fw-500);
}

.med-text {
  font-size: var(--m-med);
  font-weight: var(--fw-500);
}

.sm-text {
  font-size: var(--m-sm);
  font-weight: var(--fw-400);
}
/* colors */

.bento-grid .bento-item:nth-child(1),
.bento-grid .bento-item:nth-child(5) {
  background-color: var(--clr-primary-500);
  color: var(--clr-white);
}

.bento-grid .bento-item:nth-child(2),
.bento-grid .bento-item:nth-child(6) {
  background-color: var(--clr-white);
}

.bento-grid .bento-item:nth-child(3),
.bento-grid .bento-item:nth-child(8) {
  background-color: var(--clr-secondary-500);
}

.bento-grid .bento-item:nth-child(7) {
  background-color: var(--clr-secondary-100);
}

.bento-grid .bento-item:nth-child(4) {
  background-color: var(--clr-primary-100);
}

.bento-grid .bento-item:nth-child(1) .emphasis {
  color: var(--clr-secondary-500);
}

.bento-grid .bento-item:nth-child(7) em {
  color: var(--clr-primary-500);
}

/* Layout */
.bento-grid {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
  gap: 1rem;
  margin-inline: auto;
}

.bento-grid > * {
  border-radius: 0.5rem;
}

.bento-grid .bento-item:nth-child(1) {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.bento-grid .bento-item:nth-child(1) img {
  width: 150px;
}

.bento-grid .bento-item:nth-child(2) {
	display: flex;
	flex-flow: column;
  padding: 1rem;
}

.bento-grid .bento-item:nth-child(3) {
  padding-inline: 1rem;
  padding-top: 1rem;
}

.bento-grid .bento-item:nth-child(3) img {
  margin-top: 1rem;
  width: 150px;
}

.bento-grid .bento-item:nth-child(4) {
  padding-inline: 1rem;
  padding-block: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;
}

.bento-grid .bento-item:nth-child(4) img {
  width: 250px;
}

.bento-grid .bento-item:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 2rem;
  padding-block: 1rem;

}

.bento-grid .bento-item:nth-child(5) img {
  width: 150px;
}

.bento-grid .bento-item:nth-child(6) {
  padding: 1rem;
  display: grid;
  gap: 1em;
}

.bento-grid .bento-item:nth-child(6) img {
  width: 150px;
}

.bento-grid .bento-item:nth-child(6) span {
  display: block;
  margin-bottom: 0.5em;
}

.bento-grid .bento-item:nth-child(7),
.bento-grid .bento-item:nth-child(8) {
  padding: 1rem;
}

.bento-grid .bento-item:nth-child(7) img {
  margin-top: 1em;
  width: 150px;
}

.bento-grid .bento-item:nth-child(8) img {
  width: 150px;
  margin-top: 1em;
}

/* footer */

.attribution {
  width: 100%;
}

.bento-item:nth-child(1) {
  grid-area: one;
}

.bento-item:nth-child(2) {
  grid-area: two;
}

.bento-item:nth-child(3) {
  grid-area: three;
}

.bento-item:nth-child(4) {
  grid-area: four;
}

.bento-item:nth-child(5) {
  grid-area: five;
}

.bento-item:nth-child(6) {
  grid-area: six;
}

.bento-item:nth-child(7) {
  grid-area: seven;
}

.bento-item:nth-child(8) {
  grid-area: eight;
}

/* For tabs */
@media (min-width: 500px) {
	.bento-grid {
		grid-template-areas:
		"seven seven seven"
		"seven seven seven"
		"one four three"
		"one four three"
		"eight two five"
		"eight two five"
		"six six six"
		"six six six"

	}
}

@media (min-width: 768px) {
  .bento-grid {
    padding: 8rem;
    margin-inline: auto;
    grid-auto-rows: 75px;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "seven one one four"
      "seven one one four"
      "seven one one four"
      "seven one one four"
      "seven two three four"
      "eight two three four"
      "eight two three four"
      "eight six five five"
      "eight six five five"
      "eight six five five";
  }

  .bento-grid .bento-item:nth-child(4)img {
       position: absolute;
       width: 450px;
       right: 0;

  }

 .bento-grid .bento-item:nth-child(5) {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
